:root{
    --primary-color: #fff;
    --bg-color: #05353d;
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --text-color: #444;
    --heart-color: #fc08e7;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}    
.container{
   height: 135vh;
   display: grid;
   place-items: center;
}
.container > .envelope-wrapper{
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
}
.container > .envelope-wrapper > .envelope{
position: relative;
width: 700px;
height: 300px;
}
.container > .envelope-wrapper > .envelope::before{
    content: '';
    position: absolute;
    z-index: 2;
   border-top: 250px solid var(--envelope-tab);
   border-right: 350px solid transparent;
   border-left: 350px solid transparent;
   top: 0;
   transform-origin: top;
   transition: all 0.5s ease-in-out 0.7s;
}
.container > .envelope-wrapper > .envelope::after{
    content: '';
    position: absolute;
    z-index: 2;
   border-top: 250px solid transparent;
   border-left: 350px solid var(--envelope-cover);
   border-right: 350px solid var(--envelope-cover);
   border-bottom: 50px solid var(--envelope-cover);
   bottom: 0;
}
.letter{
 position: absolute;
 right: 20%;
 bottom:0%;
 width: 61%;
 height: 85%;
 background: var(--primary-color);
 transition: all 1s ease-in-out;
 padding: 20px 10px;
 box-shadow: 0 0 10px var(--shadow-color);
}
.letter > .text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: var(--text-color);
    text-align: left;
}
.heart{
    position: absolute;
    top: 77%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -15%) rotate(95deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 0 10px var(--shadow-color);
}
.heart::before,
.heart::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    border-radius: 77%;
}
.heart::before{
    top: 7.5px;
}
.heart::after{
    right: -7.5px;
}
.flap > .envelope::before{
    z-index: 0;
    transform: rotateX(180deg);
}
.flap > .envelope .letter{
    z-index: 2;
    bottom: 180px;
    transform: scale(1.5);
    transition-delay: 0.4s;
}